@using GameZone.Settings
@model IEnumerable<Game>
@{
	ViewData["Title"] = "Home Page";
}
<div class="row">
	@if (Model.Any())
	{

		@foreach (var game in Model)
		{
			<p>@game.Cover</p>
			<div class="col-lg-4 col-md-6 mt-5">
				<div class="card border-primary">
					<div class="card-body" style="background-image: url('@Url.Content($"{FileSettings.ImagePath}/{game.Cover}")'); background-size: cover;">
						<h4 class="card-title">@game.Name</h4>
						<p class="card-text">@game.Description</p>
					</div>
				</div>
			</div>
		}
	}
	else
	{
		<div class="col-12">
			<div class="alert alert-dismissible alert-primary mt-5 text-center">
				<p>Currently, No Games To Display!</p>
			</div>
		</div>
	}
</div>
